@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),  url('fonts/MuseoSansCyrl-300.otf')  format('opentype'),
	     url('fonts/MuseoSansCyrl-300.woff') format('woff'), url('fonts/MuseoSansCyrl-300.ttf')  format('truetype'), url('fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),  url('fonts/MuseoSansCyrl-500.otf')  format('opentype'),
	     url('fonts/MuseoSansCyrl-500.woff') format('woff'), url('fonts/MuseoSansCyrl-500.ttf')  format('truetype'), url('fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),  url('fonts/MuseoSansCyrl-700.otf')  format('opentype'),
	     url('fonts/MuseoSansCyrl-700.woff') format('woff'), url('fonts/MuseoSansCyrl-700.ttf')  format('truetype'), url('fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
  font-weight: 700;
  font-style: normal;
}