.mb1{
    margin-bottom: 8px;
}

.mb2{
    margin-bottom: 16px;
}

.mb3{
    margin-bottom: 24px;
}

#pp-open-popup{
    text-decoration: underline;
    line-height: 1.6;
}

.pagination-wrapper{
	text-align: center;
	padding: 0 15px 40px;
	font-size: 0;
	width: 75.5%;
    float: right;
}

.pagination{
	display: inline-block;
}

.pagination li{
	font-size: 1rem;
	display: inline-block;
	margin: 0 1px 1px 0;
	background: #fff;
    color: #4f5773;
}

.pagination li:not(.disabled):hover{
	background: #f7f7fa;
}

.pagination li.active,
.pagination li.active:hover{
	background: #76a7e1;
    color: #fff;
    font-weight: 700;
}

.pagination li:first-child{
	border-radius: 5px 0 0 5px;
}

.pagination li:last-child{
	border-radius: 0 5px 5px 0;
}

.pagination a, .pagination span{
	padding: 15px 20px;
    border-radius: 0;
    display: block;
}

@media (max-width: 1170px){
	.pagination-wrapper {
	    width: 100%;
	}
}

.no-image img{
	max-width: 100%;
}

.dz-clickable{
	border: 1px solid #76a7e1;
	padding: 10px 15px;
	min-height: 100px;
	border-radius: 4px;
}

.list{
	margin-top: 20px;
}

#my-awesome-dropzone{
	margin-bottom: 10px;
}

.static-text li{
	list-style-type: decimal;
	padding: 8px 0;
	line-height: 1.4;
}

.static-text h3{
	font-size: 1.2rem;
}

.static-text h4{
	font-size: 1rem;
}

.button-2.edit{
	height: 19px;
    display: inline-block;
    padding-top: 4px;
}

.content.col-2{
	margin-bottom: 40px;
}

.fav.button-2.active:after{
	background: url('../img/sprite.svg') no-repeat 0 -106px;
	background-size: 200px 620px;
	width: 17px;
	height: 17px;
}

.ad-add2fav-warning{
	display: none;
}

.button-2.success:hover:before{
	content: 'Обновлено';
	background: #4f5773;
}

.visited:before {
	position: absolute;
	content: '\41F\440\43E\441\43C\43E\442\440\435\43D\43E';
	top: 6px;
	left: 6px;
	z-index: 10;
	font-size: 10px;
	color: #fff;
	padding: 2px 4px;
	background: rgba(0,0,0,0.6);
	border-radius: 2px;
}

.ad-image-link{
	position: relative;
	z-index: 3;
	display: block;
}

@media (max-width: 350px) { 
	.meta .meta-cat { 
		display: none; 
	} 

	.header .logo { 
		width: 85px; 
		background-size: 85px 36px; 
	} 
}

input{
	transition: border-color .25s;
}

input.error{
	border-color: #eb6765;
}

.error-msg{
	color: #EB6765;
}

.loaded{
	transition: .25s;
}

.upload img{
	max-width: 100%;
	max-height: 100%;
    border: 1px solid #d7d8e0;
}

.upload li{
	margin-bottom: 20px;
}

.form-ad-wrapper .jq-selectbox li.disabled{
	display: none;
}

.warning #open-popup{
	color: #fff;
	text-decoration: underline;
}

.warning #open-popup:hover{
	color: #eee;
}

.banner{
	display: block;
	padding: 26px 20px 0 0;
}

.banner img{
	max-width: 100%;
}

@media (max-width: 1170px){
	.banner{
		display: none;
		/*padding-left: 20px;*/
	}
}

.contacts-info h4{
	margin-bottom: 10px;
}

.contacts-info p{
	margin-top: 0;	
}

#title-chars-left,
#text-chars-left{
	float: right;
	color: #D7D8E0;
}

.vk-share.button-2 {
	background: rgb(95, 131, 170);
	display: inline-block;
	border: 0;
	color: #fff;
	padding-left: 27px;
	line-height: 25px;
	margin-right: 10px;
}

.vk-share.button-2:hover {
	color: #fff;
	background: rgb(104, 144, 187);
}

.vk-share.button-2:after {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	top: 5px;
	background: url('../img/sprite.svg') no-repeat 0 -560px;
	width: 11px;
	height: 15px;
	background-size: 200px 620px;
}

.fb-share.button-2 {
	background: #3B5998;
	border: 0;
	color: #fff;
	padding-left: 27px;
	line-height: 25px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.fb-share.button-2:hover {
	background: #506FB1;
	color: #fff;
}

.fb-share.button-2:after {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	top: 5px;
	background: url('../img/sprite.svg') no-repeat 0 -583px;
	width: 8px;
	height: 15px;
	background-size: 200px 620px;
}

.wa-share.button-2 {
	background: #65bc54;
	border: 0;
	color: #fff;
	padding-left: 27px;
	line-height: 25px;
	display: inline-block;
}

.wa-share.button-2:hover {
	background: #79d268;
	color: #fff;
}

.wa-share.button-2:after {
	content: "";
	display: block;
	position: absolute;
	left: 4px;
	top: 2px;
	background: url(../img/wa-icon.png) no-repeat;
	width: 25px;
	height: 32px;
	background-size: 21px 21px;
}

.item-share-group1 {
	margin-right: 10px;
}

.item-share-group1, .item-share-group2{
	float: left;
	margin-bottom: 20px;
}

select{
	height: 34px;
    padding: 0 20px 1px 6px;
    border: 1px solid #d7d8e0;
    border-radius: 4px;
    background: #f7f7fa;
    line-height: 34px;
    color: #6e768f;
}

.subcats-count{
	float: right;
    font-size: 0.75rem;
    color: #bfc2cd;
    margin: 3px 10px 0 10px;
}

@media (max-width: 1170px){

	.subcats-count{
		color: #9fa5b8;	
	}
}

.loader{
	text-align: center;
	padding-top: 20px;
	display: none;
}

.publish-loader{
	text-align: center;
	padding-bottom: 20px;
	display: none;
}

.dz-u-image p{
	margin: 5px 0 0;
	color: #76a7e1;
}

.uploader-label{
	margin-bottom: 5px;
}

.field-description{
	margin: 0 0 25px;
	color: #9fa5b8;
}

label.required:after{
	display: inline;
	content: ' *';
	color: #eb6765;
}

.delete_ad_form{
	display: inline-block;
	margin-top: 20px;
}
.delete_ad_form:not(:last-of-type){
	margin-right: 8px;
}

.captcha-wrapper{
	text-align: right;
	margin-bottom: 16px;
}
.g-recaptcha{
	display: inline-block;
}