html {
	font-family: 'MuseoSansCyrl';
	font-weight: 300;
	height: 100%;
}

body {
	background: #eceef4;
	font-size: 0.875rem;
	color: #4f5773;
	min-height: 100%;
	padding-bottom: 100px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

h4 {
	font-size: 1.125rem;
}

h2 {
	font-size: 1.5rem;
}

h1 {
	font-size: 1.875rem;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

a {
	color: #4f5773;
	text-decoration: none;
}

a:hover {
	color: #438bdf;
}

label {
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
    user-select: none;
}

.wrapper {
	height: 100%;
}

.row {
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1 {
	width: 24.5%;
	float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-2 {
	width: 75.5%;
	float: right;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button {
	color: #fff;
	font-size: 0.750rem;
	letter-spacing: 0.1em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.2s;
	border: none;
	outline: none;
}

.button-2 {
	color: #76a7e1;
	border: 1px solid #76a7e1;
	background: #fff;
	padding: 0 10px;
	position: relative;
	outline: none;
	height: 25px;
	font-size: 0.813rem;
	border-radius: 4px;
		-moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    -khtml-border-radius: 4px;
}

.button-2:hover {
	color: #438bdf;
	border-color: #438bdf;
}

.width-210 {
	width: 210px;
}

.content .width-100 {
	width: 100px;
	float: left;
    margin-right: 10px;
    	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.width-120 {
	width: 120px;
	float: left;
    margin-right: 10px;
    	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.width-100:last-child, .width-120:last-child {
    margin-right: 0px;
}

.jq-selectbox .parent-cat {
	background: #e0e3eb;
}

/*Шапка*/

.header, .footer {
	background: #444a62;
}

.mob-menu-btn {
	width: 60px;
    height: 60px;
    float: left;
    position: relative;
    background: #33394E;
    cursor: pointer;
    display: none;
}

.back-btn {
	width: 60px;
	height: 60px;
	display: block;
}

.back-btn:before{
	color: #fff;
	border-right: 2px solid currentcolor;
	border-bottom: 2px solid currentcolor;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	left: 24px;
	transform: rotate(135deg);
	top: 19px;
}

.back-btn:active:before{
	width: 12px;
	height: 12px;
	left: 26px;
	top: 22px;
}

.mob-menu {
	width: 20px;
	height: 2px;
	top: 29px;
	left: 0;
    display: block;
    position: absolute;
    background: #fff;
    	-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-o-transform: translateX(20px);
    transform: translateX(20px);
    transition:all .2s ease-out;
}

.mob-menu::before, .mob-menu::after{
	content:'';
	width: 20px;
	height: 2px;
	background: #fff;
	position: absolute;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
    transform: translateX(0px);
	transition:all .2s ease-out;
}

.mob-menu::before {
	top: -7px;
}

.mob-menu::after {
	bottom: -7px;
}

.mob-menu.active {
	background: #33394E;
}

.mob-menu.active::before {
	top:0;
	  	-webkit-transform: rotateZ(45deg);
	    -moz-transform: rotateZ(45deg);
	    -ms-transform: rotateZ(45deg);
	    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.mob-menu.active::after {
	bottom:0;
	  	-webkit-transform: rotateZ(-45deg);
	    -moz-transform: rotateZ(-45deg);
	    -ms-transform: rotateZ(-45deg);
	    -o-transform: rotateZ(-45deg);
     transform: rotateZ(-45deg);
}

.header .logo {
	width: 130px;
	height: 56px;
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -28px;
	display: block;
	background: url('../img/logo.png') no-repeat;
	background-size: 100%;
}

.h-wrapper {
	width: 75.5%;
	float: right;
	position: relative;
}

.h-wrapper menu {
	height: 60px;
	line-height: 60px;
	margin: 0;
	padding: 0;
	float: left;
}

.h-wrapper menu li{
	display: inline;
	margin-right: 30px;
}

.h-wrapper menu li a, .footer menu li a{
	color: #9aa9b6;
}

.h-wrapper menu li a:hover, .footer menu li a:hover{
	color: #f5f6f7;
}

.header .add-button {
	width: 200px;
	height: 44px;
	line-height: 46px;
	margin: 8px 0 0;
	border-radius: 4px;
	display: block;
	position: relative;
	float: right;
	text-align: center;
	background: #37d89a;
}

.sign-in {
	line-height: 60px;
	float: right;
	margin-left: 30px;
}

.sign-in a{
	color: #9aa9b6;
	text-decoration: none;
}

.sign-in a:hover {
    color: #f5f6f7;
}

.discount-popup {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: all .2s ease-in;
}

.discount-popup.active {
	visibility: visible;
	opacity: 1;
}

.discount-popup .popup-wrapper {
	width: 280px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	margin: -100px 0 0 -190px;
	transition: all .2s ease-out;
	padding: 35px 50px;
	background: #fff;
	-webkit-box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.19);
}

.discount-popup.active .popup-wrapper {
	margin: -180px 0 0 -190px;
}

.discount-popup .discount-button {
	color: #fff;
}

.popup {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: all .2s ease-in;
}

.popup.active {
	visibility: visible;
	opacity: 1;
}

.popup .popup-wrapper {
	width: 280px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	border-radius: 5px;
		-moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -o-border-radius: 5px;
	    -khtml-border-radius: 5px;
	margin: -100px 0 0 -190px;
	transition: all .2s ease-out;
	padding: 35px 50px;
	background: #fff;
		-webkit-box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.19);
		-moz-box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.19);
	box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.19);
}

.popup-wrapper .forms {
	width: 940px;
	transition: all .1s ease-out;
		-webkit-transform: translateX(-330px);
	    -moz-transform: translateX(-330px);
	    -o-transform: translateX(-330px);
    transform: translateX(-330px);
}

.popup-wrapper .forms-660 {
		-webkit-transform: translateX(-660px);
	    -moz-transform: translateX(-660px);
	    -o-transform: translateX(-660px);
    transform: translateX(-660px);
}

.popup-wrapper .forms-0 {
		-webkit-transform: translateX(0);
	    -moz-transform: translateX(0);
	    -o-transform: translateX(0);
    transform: translateX(0);
}

.popup-wrapper .forget-form {
	float: left;
	margin-right: 50px;
}

.popup-wrapper .forget-form p {
	margin-top: 0;
}

.popup-wrapper .login {
	float: left;
	margin-right: 50px;
}

.popup-wrapper .registration {
	float: right;
	display: none;
}

.popup.active .popup-wrapper {
	margin: -180px 0 0 -190px;
}

.popup-wrapper ul {
	border-bottom: 1px solid #dfdfe5;
	width: 100%;
	margin: 0 0 30px 0;
}

.popup-wrapper ul li {
	display: block;
	float: left;
	width: 50%;
	cursor: pointer;
	position: relative;
	text-align: center;
	padding-bottom: 15px;
	font-size: 1rem;
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
    user-select: none;
}

.popup-wrapper ul .active {
	color: #76a7e1;
}

.popup-wrapper ul .active:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -1px;
	left: 0;
	background: #76a7e1;
}

.popup-wrapper form {
	width: 280px;
}

.popup-wrapper input {
	width: 100%;
	height: 50px;
	outline: none;
	border-radius: 5px;
		-moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -o-border-radius: 5px;
	    -khtml-border-radius: 5px;
	margin-bottom: 20px;
	background: #f7f7fa;
	padding: 0 12px;
	box-sizing: border-box;
	border: 1px solid #d7d8e0;
}

.popup-wrapper input:focus {
	border: 1px solid #76a7e1;
	background: #fff;
}

.popup-wrapper button {
	width: 100%;
	height: 40px;
	border-radius: 5px;
		-moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -o-border-radius: 5px;
	    -khtml-border-radius: 5px;
	background: #76a7e1;
}

.popup-wrapper button:hover {
    background: #6B9AD2;
}

.popup-wrapper .pass-forget{
	display: block;
	margin-top: 20px;
	float: left;
}

.h-avatar {
	display: block;
	height: 60px;
	width: 55px;
	cursor: pointer;
	margin-right: 20px;
	float: right;
	position: relative;
}

.h-avatar.not-logged{
	display: none;
}

.h-avatar:after {
	content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
    border-top: 5px solid #9fa5b8;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: rotate(0);
    transition: transform .25s;
}

.h-avatar img {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	left: 0;
	width: 36px;
	height: 36px;
	border-radius: 50%;
		-moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -o-border-radius: 50%;
	    -khtml-border-radius: 50%;
}

.h-avatar.notify:before {
	content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #eb6765;
    position: absolute;
    border-radius: 50%;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -o-border-radius: 50%;
	    -khtml-border-radius: 50%;
    top: 12px;
    right: 19px;
    z-index: 2;
}

.h-avatar .touch {
	position: absolute;
	width: 100%;
	height: 100%;
}

.header .add-button:hover {
	background: #2ac88b;
	color: #fff;
}

.drop-menu {
	position: absolute;
	display: none;
	width: 180px;
	right: -20px;
	top: 60px;
	z-index: 200;
	background-color: #444a62;
	border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
	    -webkit-border-radius: 0 0 5px 5px;
	    -o-border-radius: 0 0 5px 5px;
	    -khtml-border-radius: 0 0 5px 5px;
}

.h-avatar.active .drop-menu {
	display: block;
}

.h-avatar.active:after {
	transform: rotate(180deg);
}

.drop-menu ul {
	margin: 2px 0 5px 0;
}

.drop-menu ul li {
	padding: 0 15px;
	border-bottom: 1px solid #4f556f;
}

.drop-menu ul li span {
	float: right;
	color: #fff;
	width: 17px;
	height: 17px;
	background: #eb6765;
	font-size: 0.75rem;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
}

.drop-menu ul li:last-child {
	border-bottom: none;
}

.drop-menu a {
	padding: 7px 0;
	display: block;
	color: #9aa9b6;
	font-size: 0.813rem;
}

.drop-menu ul li:hover {
	background: #4f556f;
}

.drop-menu ul li:hover a{
	color: #f5f6f7;
}

/*Левая колонка*/

.menu {
	margin-top: 40px;
	padding-right: 10px;
}

.menu p{
	margin: 0;
}

.menu-title {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.11em;
}

.menu .nav {
	margin-left: -20px;
}

.menu .nav li {
	list-style: none;
	padding: 0 20px;
	border-radius: 5px;
		-moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -o-border-radius: 5px;
	    -khtml-border-radius: 5px;
}

.menu .nav li:hover, .menu .nav .active {
	background: #fff;
	margin-top: -1px;
    padding-top: 1px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.menu .nav li:hover p {
	border-bottom: 1px solid #fff;
}

.menu .nav .active p, .menu .nav .active:hover p {
	border-bottom: none;
	margin: 0 -20px;
	padding: 15px 20px;
}

.menu .nav .active p:after, .menu .nav .active:hover p:after{
	transform: rotate(180deg);
	right: 20px;
}

.menu .nav li p:after {
	display: block;
	content: '';
	background: url('../img/sprite.svg') no-repeat 0 -53px;
	width: 8px;
	height: 5px;
	background-size: 200px 620px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -2.5px;
	transition: transform .25s;
}

.menu .nav li p {
	padding: 15px 0;
	border-bottom: 1px solid #dfdfe5;
	position: relative;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	user-select: none;
}

.menu .nav li p span{
	float: right;
	font-size: 0.75rem;
	margin-right: 30px;
	color: #bfc2cd;
}


.menu .nav li ul li{
	padding: 0;
	margin: 0 -20px;
}

.submenu {
	display: none;
}

.active .submenu {
	display: block;
}

.menu .nav li .submenu li a{
	display: block;
	background: #e0e3eb;
	position: relative;
	color: #4f5773;
	padding: 10px 40px;
}

.menu .nav li .submenu li:hover{
	margin-top: 0;
	padding-top: 0;
}

.menu .nav li .submenu li a:hover{
	background: #fff;
	color: #4f5773;
}

.menu .nav li .submenu .active2 a{
	background: #76a7e1;
	color: #fff;
}

.menu .nav li .submenu li:last-child a:hover, .menu .nav li .submenu li:last-child a{
	border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
	    -webkit-border-radius: 0 0 5px 5px;
	    -o-border-radius: 0 0 5px 5px;
	    -khtml-border-radius: 0 0 5px 5px;
}

.menu .nav li .submenu li .active2{
	background: #76a7e1;
	color: #fff;
}

/*Основной контент*/

.content {
	background: #fff;
	padding: 30px 30px 60px 30px;
	margin-top: 40px;
	border: 1px solid #d7d8e0;
	border-radius: 10px;
		-moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    -o-border-radius: 10px;
	    -khtml-border-radius: 10px;
}

.filter {
	width: 100%;
}

.item-filter {
	display: none;
}

.search-input {
	width: 100%;
	position: relative;
	margin-bottom: 6px;
}

.search-input #search{
	width: 100%;
	height: 50px;
	background: #f7f7fa;
	outline: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px;
	border: 1px solid #d7d8e0;
	border-radius: 5px;
		-moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -o-border-radius: 5px;
	    -khtml-border-radius: 5px;
}

.search-input #search:focus{
	border: 1px solid #76a7e1;
	background: #fff;
}

.search-input #submit{
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	padding: 0 44px 0 20px;
	background: #d7d8e0;
	border-radius: 0 5px 5px 0;
}

.search-input #search:focus + #submit{
    background: #76a7e1;
}

.search-input #submit:after, .button.btn-sec:after{
	content: '';
	display: block;
	position: absolute;
	background: url('../img/sprite.svg') no-repeat 0 -24px;
	width: 16px;
	height: 17px;
	background-size: 200px 620px;
	right: 20px;
    top: 50%;
    margin-top: -9px;
}

.search-attr .select, .search-attr .select-price {
	float: left;
	margin: 14px 20px 0 0;
	min-width: 210px;
}

.search-attr .check{
	height: 35px;
	line-height: 35px;
	float: left;
	margin-right: 0;
}

.search-attr .check label:first-child {
	margin-right: 20px;
}

.search-attr .check span {
	cursor: pointer;
}

.search-attr .check input{
	vertical-align: middle;
}

.brands {
	margin-top: 30px;
	padding: 25px 0 20px 0;
	border-top: 1px solid #dfdfe5;
}

.brands ul {
	margin: 0;
}

.brands ul li {
	margin-bottom: 15px;
	width: 20%;
	float: left;
}

.brands ul li a{
	margin-right: 10px;
}

.brands ul li span {
	color: #9fa5b8;
}

.show-all {
	color: #bfc2cd;
    text-decoration: none;
    border-bottom: 1px dashed #bfc2cd;
}

.show-all:hover {
	color: #4f5773;
	border-bottom: 1px dashed #4f5773;
}

.show-all-filter {
	margin-top: 15px;
	display: inline-block;
}

.all-brands {
	display: none;
}

.save-search {
	padding-left: 30px;
}

.save-search:after {
	content: '';
	display: block;
	position: absolute;
	background: url('../img/sprite.svg') no-repeat 0 -82px;
	width: 14px;
	height: 14px;
	background-size: 200px 620px;
	left: 10px;
	top: 50%;
	margin-top: -8px;
}

.btn-sec {
	display: none;
	position: relative;
	height: 50px;
	float: left;
	margin-top: 30px;
	width: 100%;
    padding: 0 44px 0 20px;
    background: #76a7e1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
}

.btn-sec:hover {
    background: #6B9AD2;
}

.list {
	width: 100%;
	float: left;
	padding-top: 30px;
	border-top: 1px solid #dfdfe5;
}

.meta-cat {
	display: inline-block;
	max-width: 10em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.premium {
	.discount {
		margin-right: 15px;
		position: relative;
		font-size: 15px;
		font-weight: 400;
	}

	.discount:before {
		position: absolute;
		content: "";
		left: 0;
		top: 50%;
		right: 0;
		border-top: 1px solid;
		border-color: inherit;

		-webkit-transform:rotate(6deg);
		-moz-transform:rotate(6deg);
		-ms-transform:rotate(6deg);
		-o-transform:rotate(6deg);
		transform:rotate(6deg);
	}
}

.item-price.discount {
	text-decoration: line-through;
}

.premium-bar .premium.list-item .list-item-box {
	background-color: #eceef4;
}

.grid {
	.premium.list-item .list-item-box {
		background-color: #fff;
		margin-left: 0;
		padding: 0;

		.list-text {
			margin-left: 180px;
		}
	}

	.list-item-title a {
		display: block;
	}

	.premium.list-item .list-item-price {
		background-color: #37d89a;
		color: #fff;
        border-radius: 4px;
        background: #438bdf;
	}

    .premium {
      .ad-image-link {
        span {
          //top: -20px;
          //left: -5px;
          float: right;
		  border-radius: 4px;
		  margin-top: -25px;
		  position: sticky;
		  margin-right: 7px;
        }
      }
    }
}
@media (max-width: 1500px) {
	.grid .list-item .meta-cat {
		display: none;
	}
}

@media (min-width: 956px) {
	.grid {
		content: "";
		display: table-row;
		clear: both;
		position: relative;
		padding-top: 30px;
		margin-top: 30px;
		border-top: 1px solid #dfdfe5;

		.list-item {
			float: left;
			width: 44%;
			padding: 25px;
			min-height: 227px;

			img {
				padding-bottom: 160px;
				float: left;
			}
		}

		.list-item:last-child {
			border-bottom: 1px solid #dfdfe5;
			margin-bottom: 20px;
			padding-bottom: 25px;
		}


		.list-item-title a {
			margin-right: 0;
		}

		.list-item-price {
			float: left;
		}

		.meta {
			padding-left: 0;
			clear: both;
		}
	}
}

.add-mobile {
	display: none;
}

.list-item.discount {
	.discount {
		font-weight: 300;
		text-decoration: line-through;
		margin-right: 5px;
	}
}

@media (max-width: 800px) {

	.list-item img:active {
		padding: 5px;
		width: 150px;
	}

	.grid .list-item img:active {
		padding: 5%;
		width: 90%;
	}

	.header .logo {
		width: 100px;
		height: 43px;
		margin-top: -22px;
		background-size: 100px 43px;
	}
	.grid {
		content: "";
		display: flex;
		flex-wrap: wrap;
		clear: both;
		position: relative;
		padding-top: 30px;
		margin-top: 30px;
		border-top: 1px solid #dfdfe5;
		justify-content: space-between;

		.list-top {
			flex: 0 0 100%;

			h2 {
				width: 175px;
				margin: 0 0 10px 0;
			}
		}

        .list-item-price {
          float: left !important;
          clear: both;
        }

		.list-item {
			width: 48%;

			img {
				width: 100%;
				margin-bottom: 0;
			}

			.list-text {
				margin-left: 0 !important;
				float: left;
				width: 100%;
				word-break: break-word;
			}

			.list-desc {
				display: none;
			}
		}

		.premium {
			width: 100%;

			a {
				position: relative;
				z-index: 3;
				display: block;
				//height: 100%;
				//width: 100%;
			}

			img {
				width: 100%;
				margin-bottom: 0;
				//object-fit: cover;
				//height: 50%;
				//right: 35px;
				//position: relative;
				//text-align: center;
			}
		}

		.list-item-box {
			margin-left: 0 !important;
		}

		.list-item:last-child {
			padding-right: 0;
			border-bottom: 1px solid #dfdfe5;
			margin-bottom: 20px;
			padding-bottom: 19px;
		}

		.list-item-title a {
			float: left;
			margin: 15px 0 0 0;
		}

		.list-item-price {
			float: left;
			margin: 10px 0 10px 0;
			clear: both;
		}

		.meta {
			padding-left: 0;
			clear: both;

			.meta-cat {
				display: none;
			}
		}

		.top-premium {
			width: 48% !important;
		}
	}

	.add-mobile .add-button {
		width: 200px;
		height: 44px;
		line-height: 46px;
		border-radius: 4px;
		display: block;
		position: fixed;
		text-align: center;
		box-shadow: 0 0 4px rgba(0,0,0,0.5);
		background: #37d89a;
		bottom: 20px;
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		z-index: 100;
	}

	.add-mobile {
		display: block;
	}

	.list-item.discount {
		width: 100%;

		.ad-image-link img {
			width: 100%;
		}

		.list-item-title {
			overflow: inherit;
			top: 10px;
		}

		.list-text {
			margin-left: 0;
		}

		.discount {
			font-weight: 300;
			text-decoration: line-through;
			margin-right: 5px;
		}

		.list-desc, .meta {
			display: none;
		}
	}
}

.list-item {
	border-bottom: 1px solid #dfdfe5;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.list-item:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.list-top {
	clear: both;
	margin-bottom: 30px;
	line-height: 1;

	.active {
		background-color: #b7b8bb!important;
	}

	.list-buttons {
		float: right;

		button {
			color: #fff;
			font-size: 0.75rem;
			letter-spacing: 0.1em;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			transition: all 0.2s;
			border: none;
			outline: none;
			padding: 5px;
			background: #fff;
		}
	}
}

.list-top h2 {
	margin: 0;
	display: block;
	float: left;
	margin-right: 30px;
}

.list-item img{
	float: left;
	width: 160px;
	border-radius: 4px;
		-moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    -khtml-border-radius: 4px;
}

.list-text {
	margin-left: 180px;
	position: relative;
}

.premium {
	.list-item-price {
		padding: 3px;
	}

  .ad-image-link {
    span {
      background: #438bdf;
      color: #fff;
	  position: absolute;
	  top: 103px;
	  left: 114px;
      padding: 4px;
	  border-radius: 4px;
    }
  }
}

.premium.list-item .list-item-box {
	padding: 10px;
	background-color: #d0d2dc;
	margin-left: 170px;
	border-radius: 10px;

	.meta {
		padding-left: 0;
	}

	.list-text {
		margin-left: 0;
	}
}

.list-item-title {
	overflow: hidden;
	position: relative;

}

.list-item-title a {
	font-weight: 500;
	//margin: 0 150px 0 0;
	font-size: 1.125rem;
}

.list-item-title a:visited {
	color: #438bdf;
}

.list-item-price {
	float: right;
    margin: 0;
    font-weight: 700;
    font-size: 1.125rem;
}

.list-item-price.not-set {
    font-size: 16px;
}

.list-text p {
	margin: 10px 0 15px 0;
	word-break: break-word;
}

.meta {
    width: 100%;
    position: relative;
    	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 180px;
}

.meta .meta-fav {
	background: url('../img/sprite.svg') no-repeat 0 -132px;
	width: 17px;
	height: 17px;
	margin-top: 1px;
	background-size: 200px 620px;
	padding: 2px 0;
}

.meta .meta-fav.active {
	background: url('../img/sprite.svg') no-repeat 0 -106px;
	background-size: 200px 620px;
}

.meta>a {
	font-size: 0.813rem;
	color: #9fa5b8;
	margin-right: 20px;
	display: block;
	float: left;
	position: relative;
}

.meta .meta-cat {
	padding: 2px 10px;
	border: 1px solid #d0d2da;
	border-radius: 20px;
		-moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	    -o-border-radius: 20px;
	    -khtml-border-radius: 20px;
}

.meta .meta-cat:hover {
	border-color: #9fa5b8;
}

.meta>a:hover {
	color: #6e768f;
}

.meta .meta-city {
	padding: 2px 10px 2px 15px;
}

.meta .meta-city:before {
	content: '';
	background: url('../img/sprite.svg') no-repeat 0 0;
	width: 10px;
	height: 15px;
	background-size: 200px 620px;
	position: absolute;
	left: 0;
}

.meta span {
	float: right;
	color: #9fa5b8;
}

.f-tooltip {
	padding: 5px 10px;
    display: block;
    font-size: 0.813rem;
    top: -2px;
    left: 210px;
    position: absolute;
    z-index: 2;
    background: #fff;
    border: 1px solid #76A7E1;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    -khtml-border-radius: 4px;
}

.f-tooltip a, #open-popup {
	color: #76A7E1;
	text-decoration: none;
}

.f-tooltip a:hover, #open-popup:hover {
	color: #438bdf;
}

.f-tooltip.active:after {
	content: '';
    display: block;
    background: url('../img/sprite.svg') no-repeat 0 -193px;
	width: 8px;
	height: 13px;
	background-size: 200px 620px;
    position: absolute;
    left: -7px;
    top: 6px;
}

.pagination {
	width: 75.5%;
	float: right;
	text-align: center;
	margin: 0  0 40px 0;
	font-size: 0;
}

.pagination a{
	display: inline-block;
	padding: 15px 20px;
	background: #fff;
	color: #4f5773;
	font-size: 1rem;
	margin-right: 1px;
	text-decoration: none;
}

.pagination a:first-child {
	border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
	    -webkit-border-radius: 5px 0 0 5px;
	    -o-border-radius: 5px 0 0 5px;
	    -khtml-border-radius: 5px 0 0 5px;
}

.pagination a:last-child {
	margin-right: 0;
	border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
	    -webkit-border-radius: 0 5px 5px 0;
	    -o-border-radius: 0 5px 5px 0;
	    -khtml-border-radius: 0 5px 5px 0;
}

.pagination a:hover {
	background: #f7f7fa;
}

.pagination .active, .pagination .active:hover {
	background: #76a7e1;
	color: #fff;
	font-weight: 700;
}

/*Статическая страница*/

.static-text {
	max-width: 700px;
	margin: 0 auto;
}

.static-text p {
	margin-bottom: 20px;
	line-height: 1.5;
}

.video {
	position: relative;
    padding-bottom: 50%;
    padding-top: 15px;
    height: 0;
}

.video iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Страница объявления*/

.item {
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #dfdfe5;
	word-wrap: break-word;
}

.breadcrumbs ul {
	margin: 0;
}

.breadcrumbs li{
	display: inline;
}

.breadcrumbs li a{
	color: #5d99e0;
	font-size: 0.750rem;
}

.breadcrumbs li a:hover{
	color: #438bdf;
}

.breadcrumbs li:after{
	content: '/';
	display: inline;
	margin-left: 5px;
	color: #bfc2cd;
	font-size: 0.813em;
}

.breadcrumbs li:last-child:after{
	content: none;
}

.breadcrumbs {
	float: left;
	margin: 4px 10px 20px 0;
}

.item h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

.item-menu {
	float: right;
}

.item-menu button {
	margin-left: 6px;
	margin-bottom: 25px;
}

.item-menu .edit {
	margin-left: 6px;
	margin-bottom: 25px;
}

.edit {
	padding-left: 29px;
	vertical-align: top;
}

.delete {
	padding-left: 15px;
	vertical-align: top;
	border-color: #eb6765;
}

.delete:hover {
	border-color: #CA2E2B;
}

.refresh {
	padding-left: 26px;
}

.refresh:after {
	content: '';
    display: block;
    position: absolute;
    background: url('../img/sprite.svg') no-repeat 0 -260px;
	width: 11px;
	height: 12px;
    background-size: 200px 620px;
    left: 10px;
    top: 50%;
    margin-top: -7px;
}

.unactive, .unactive:hover  {
	color: #DFDFE5;
    border: 1px solid #DFDFE5;
}

.unactive:after {
	background: url('../img/sprite.svg') no-repeat 0 -512px;
	width: 11px;
	height: 12px;
	background-size: 200px 620px;
}

.unactive:hover:before {
	content: attr(data-title);
    position: absolute;
    font-size: 0.813rem;
    background: #eb6765;
    z-index: 999;
    color: #FFFFFF;
    padding: 5px;
    right: 0;
    min-width: 180px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    bottom: 29px;
}

.edit:after {
	content: '';
    display: block;
    position: absolute;
    background: url('../img/sprite.svg') no-repeat 0 -235px;
	width: 14px;
	height: 15px;
    background-size: 200px 620px;
    left: 10px;
    top: 50%;
    margin-top: -8px;
}

.delete:after {
	content: '';
    display: block;
    position: absolute;
    background: url('../img/sprite.svg') no-repeat 0 -457px;
	width: 15px;
	height: 17px;
    background-size: 200px 620px;
    left: 5px;
    top: 50%;
    margin-top: -9px;
}

.go-premium, .premium-aadd {
	color: #fff;
    border: 0;
    outline: none;
    background: #37d89a;
    padding: 0 10px 0 28px;
    position: relative;
    height: 25px;
    font-size: 0.813rem;
    transition: all 0.2s;
    border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    -khtml-border-radius: 4px;
}

.go-premium:hover {
	background: #2ac88b;
}

.go-premium:after, .premium-aadd:after {
	content: '';
    display: block;
    position: absolute;
    background: url('../img/sprite.svg') no-repeat 0 -281px;
	width: 14px;
	height: 13px;
    background-size: 200px 620px;
    left: 10px;
    top: 50%;
    margin-top: -6px;
}

.go-super-premium:after {
	background: url('../img/env.png') no-repeat !important;
	width: 20px;
}

.go-super-premium, .premium-aadd {
	padding: 0 10px 0 35px;
}

.item .slider, .item-comments{
	width: 53%;
	float: left;
}

.item-desc, .item-related {
	width: 44%;
	float: right;
	padding-left: 3%;
}

.item-related {
}

.item .large-photo {
	display: block;
	position: relative;
}

.item .large-photo .zoom {
	background: url('../img/sprite.svg') no-repeat 0 -301px;
	width: 17px;
	height: 17px;
	background-size: 200px 620px;
	display: block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	opacity: 0.7;
}

.item .slider .large-photo img{
	width: 100%;
	display: block;
}

.slider-list {
	margin-top: 10px;
}

.item-share {
	margin-top: 25px;
}

.item-share .fav {
	padding-left: 33px;
	margin-right: 5px;
}

.item-share .complain {
	padding-left: 30px;
}

.item-share .fav:after {
	content: '';
	display: block;
	background: url('../img/sprite.svg') no-repeat 0 -427px;
	width: 17px;
	height: 17px;
	background-size: 200px 620px;
	position: absolute;
	left: 10px;
	top: 3px;
}

.item-share .complain:after {
	content: '';
	display: block;
	padding-left: 30px;
	background: url('../img/sprite.svg') no-repeat 0 -351px;
	width: 14px;
	height: 15px;
	background-size: 200px 620px;
	position: absolute;
	left: 10px;
	top: 4px;
}

.item .slider .slider-list a img {
	display: block;
	width: 100%;
}

.item .slider .slider-list a {
	display: block;
	width: 19%;
	margin-right: 1.25%;
	float: left;
}

.item .slider .slider-list a:last-child {
	margin-right: 0;
}

.item-price-block {
	float: left;
	display: inline-block;

	.price {
		margin-right: 0 !important;
	}

	a {
		float: left;
		width: 100%;
		clear: both;
		color: #fff;
		background-color: #37d89a;
		border-radius: 4px;
		padding: 8px 0px;
		text-align: center;
		font-size: 15px;
	}
}

.item .item-price {
	padding: 8px 15px;
	margin-bottom: 28px;
	margin-right: 10px;
	font-size: 1.125rem;
	font-weight: 700;
	border: 1px solid #37d89a;
	float: left;
	border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    -khtml-border-radius: 4px;
}

.item .time-view {
	float: right;
	text-align: right;
	color: #9fa5b8;
	margin-bottom: 28px;
}

.item .time-view p{
	margin: 0 0 5px 0;
}

.item .time-view span {
	position: relative;
	float: right;
    padding-left: 22px;
}

.item .time-view span:before {
	content: '';
	display: block;
	background: url('../img/sprite.svg') no-repeat 0 -326px;
	width: 16px;
	height: 12px;
	left:0;
	top: 2px;
	background-size: 200px 620px;
	position: absolute;
}

.item .item-attr {
	clear: both;
	overflow: hidden;
}

.item dl {
	margin: 0;
}

.item dt {
	float: left;
	width: 120px;
	clear: both;
	color: #9fa5b8;
}

.item dd {
	float: left;
	margin-left: 0;
	margin-bottom: 8px;
}

.item dd:last-child {
	margin-bottom: 0px;
}

.item .item-specific h4 {
	margin-bottom: 15px;
}

.item .item-specific p {
	margin-top: 0;
	line-height: 18px;
}


.item .item-phone, .item .item-contact {
	//clear: both;
	//display: inline-block;
	margin-top: 16px;
	//padding: 8px 15px 8px 0;
	//border: 1px solid #d7d8e0;
	position: relative;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	display: flex;
	width: 100%;
}

.item p.say-about-us-text {
	margin: 8px 0 16px;
	color: #9fa5ba;
}

//.item .item-phone:after {
//	content: '';
//	display: block;
//	background: url('../img/sprite.svg') no-repeat 0 -402px;
//	width: 15px;
//	height: 16px;
//	background-size: 200px 620px;
//	position: absolute;
//	left: 12px;
//	top: 9px;
//}

.contact-buttons {
	display: flex;
}

.item .item-phone div {
	font-size: 1rem;
	font-weight: 700;
	float: left;
}

.item .item-phone a, .write-message {
	color: #fff;
	border-radius: 4px;
	padding: 10px 20px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.item .item-phone a {
	background-color: #76a7e1
}

.item .item-phone {
	margin-right: 8px;
}

.write-message {
	background-color: #37d89a;
	margin-left: 8px;
}

.item .item-phone .fa-phone {
	margin-right: 8px;
	transform: scale(-1, 1)
}

.write-message .fa-whatsapp {
	font-size: 18px;
	top: -1px;
	position: relative;
	margin-right: 8px;
}

.write-message .fa-comment {
	margin-right: 8px;
}

.write-message:hover {
	background: #2ac88b;
	color: #fff;
}

.item .item-phone a:hover {
	background-color: #589ef1;
}

.item .item-comments .comments-title{
	margin-top: 30px;
}

.item .item-comments h4 {
	margin: 40px 0 25px 0;
}

.item .item-comments .comment {
	background-color: #f7f7fa;
	margin-bottom: 10px;
	padding: 15px 20px;
	border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    -khtml-border-radius: 4px;
}

.item .item-comments .comment-answer {
	margin-left: 40px;
	position: relative;
	overflow: hidden;
}

.item .item-comments .comment-answer:after {
	content: '';
	width: 5px;
	height: 100%;
	position: absolute;
	background: #37d89a;
	left: 0;
	top: 0;
}

.item .item-comments .comment-author {
	font-weight: 500;
	float: left;
}

.item .item-comments .comment-time {
	float: left;
	color: #9fa5b8;
	font-size: 0.813rem;
	line-height: 1.4;
	margin-left: 30px;
}

.item .item-comments .comment-remove {
	display: block;
	float: right;
	background: url('../img/sprite.svg') no-repeat 0 -379px;
	width: 10px;
	height: 10px;
	background-size: 200px 620px;
}

.item .item-comments .private {
	display: block;
	float: left;
	margin-left: 10px;
	background: url('../img/sprite.svg') no-repeat 0 -537px;
	width: 11px;
	height: 14px;
	background-size: 200px 620px;
}

.item .item-comments .comment-text {
	margin: 10px 0 5px 0;
	line-height: 18px;
	font-size: 0.813rem;
}

.item .item-comments .replay {
	color: #76a7e1;
}

.item .item-comments .replay:hover {
	color: #438bdf;
}

.item .item-comments form textarea {
	width: 100%;
	height: 130px;
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #d7d8e0;
	background-color: #f7f7fa;
	padding: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    -khtml-border-radius: 4px;
}

.item .item-comments form textarea:focus {
	border: 1px solid #76a7e1;
	background: #fff;
}

.send-button {
	height: 36px;
	padding: 0 20px;
	border: 0;
	color: #fff;
	outline: none;
	float: right;
	transition: all 0.2s;
	background-color: #76a7e1;
	border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -o-border-radius: 4px;
	    -khtml-border-radius: 4px;
}

.send-button:hover {
	background: #6B9AD2;
}

.item .item-comments .check {
	float: left;
	margin-top: 8px;
}

.item .item-related h4 {
	margin: 50px 0 25px 0;
}

.item .item-related ul li {
	margin-bottom: 30px;
}

.item .item-related ul li img {
	width: 100px;
	padding-right: 15px;
	display: block;
	float: left;
}

.item .item-related .related-wraper {
	margin-left: 115px;
}

.item .item-related .related-title, .item .item-related .related-price {
	font-weight: 700;
}

.item .item-related .related-desc {
	font-size: 0.813rem;
	margin: 10px 0 15px 0;
}

/*Аккаунт*/

.account {
	position: relative;
}

.account-menu h2 {
	margin-top: 0;
	margin-bottom: 25px;
}

.account-menu ul {
	border-top: 1px solid #dfdfe5;
    border-bottom: 1px solid #dfdfe5;
    margin: 0 0 30px 0;
}

.account-menu ul li {
	display: block;
	float: left;
	margin-right: 40px;
	position: relative;
}

.account-menu ul li:last-child {
	margin-right: 0;
}

.account-menu ul li a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 0;
	letter-spacing: 0.04em;
    font-size: 0.750rem;
	display: block;
}

.account-menu ul .active a{
	color: #438bdf;
}

.account-menu ul .active:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	background: #76a7e1;
	height: 3px;
	width: 100%;
}

.my-addss .list-item:first-child {
	padding-top: 0;
}

.my-ad {
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #dfdfe5;
}

.my-ad:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.my-ad-img {
	float: left;
}

.my-ad img {
	width: 120px;
	border-radius: 2px;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	    -o-border-radius: 2px;
	    -khtml-border-radius: 2px;
}

.my-ad .my-ad-title {
	font-size: 1rem;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-bottom: 7px;
}

.my-ad .my-ad-desc {
	margin-left: 140px;
}

.my-ad .my-ad-desc .delete {
	margin-left: 5px;
}

.my-ad .my-ad-desc span {
	display: block;
	margin-bottom: 10px;
}

.my-ad .my-ad-stat {
	width: 495px;
	float: right;
}

.my-ad .my-ad-stat button {
	float: right;
}

.my-ad .my-ad-stat .go-premium, .premium-aadd {
	margin: 0 0 10px 10px;
}

.my-ad .progress-block {
	text-align: right;
	margin-bottom: 20px;
	font-size: 0.813rem;
	color: #9fa5b8;
}

.my-search.progress-block {
	float: right;
}

.my-search.progress-block span {
	line-height: 25px;
	margin: 0 20px;
}

.progress {
	background-color: #f0ede8;
    width: 200px;
    height: 3px;
    float: right;
    margin-top: 10px;
    position: relative;
}

.loaded {
	background-color: #31d66f;
    height: 100%;
    min-width: 2%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.alt-stat {
	display: none;
}

.my-ad.questions .new {
	padding-left: 20px;
}

.my-ad.questions .new:after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
    left: 0;
	width: 10px;
	height: 10px;
	background: #eb6765;
	border-radius: 50%;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -o-border-radius: 50%;
	    -khtml-border-radius: 50%;
}

.my-ad.questions .reply {
	float: right;
	display: block;
	color: #76a7e1;
	position: absolute;
    right: 0;
    bottom: 20px;
}

.my-ad.questions .reply:hover {
	color: #438bdf;
}

.my-ad.questions .query {
	margin: 0 90px 0 0;
	display: block;
	position: relative;
}

.my-ad.questions .answer {
	padding-left: 20px;
}

.my-ad.questions .viewed.answer:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
	background: url('../img/sprite.svg') no-repeat -39px -117px;
	width: 12px;
	height: 11px;
	background-size: 200px 620px;
}

.my-ad.questions .answer:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
	background: url('../img/sprite.svg') no-repeat -39px -96px;
	width: 12px;
	height: 11px;
	background-size: 200px 620px;
}

.my-ad.questions .query.viewed {
	color: #9fa5b8;
}

.my-ad.questions:last-child .reply {
	bottom: 0;
}

/*Добавить объявление*/

.form-ad-wrapper {
	width: 420px;
	margin: 0 auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-ad-wrapper label {
	display: block;
	margin-bottom: 5px;
}

.form-ad-wrapper input, .form-ad-wrapper .jq-selectbox, .form-ad-wrapper textarea {
	margin-bottom: 25px;
	width: 100%;
}

.form-ad-wrapper textarea {
	max-width: 100%;
	margin-bottom: 25px;
	height: 70px;
    transition: height .3s;
}
.form-ad-wrapper textarea.focus{
    height: 150px;
}

.create-ad h2, .static h2 {
	margin-top: 0;
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #dfdfe5;
}

.create-ad #price {
	width: 50%;
}

.create-ad .nothing {
	width: 50%;
	float: right;
	padding-top: 9px;
	padding-left: 30px;
	box-sizing: border-box;
}

#price[disabled],
#price1[disabled],
#price2[disabled]
{
	background: #fff;
	border: 1px solid #ECECF3;
}

.upload {
	margin: 0;
}

.upload li {
	position: relative;
	width: 80px;
	height: 60px;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}

.form-ad-wrapper .upload-info {
	display: block;
	margin: 0;
	font-size: 0.813rem;
	color: #9fa5b8;
	margin-bottom: 15px;
}

.form-ad-wrapper .create-ad-adv {
	border-top: 1px solid #dfdfe5;
	padding-top: 30px;
	margin-top: 5px;
}

.form-ad-wrapper .create-ad-contact {
	border-bottom: 1px solid #dfdfe5;
	margin-bottom: 25px;
	padding-bottom: 5px;
}

.warning {
	background: #eb6765;
	padding: 20px;
	color: #fff;
	margin-bottom: 25px;
	border-radius: 5px;
}

.warning a{
	color: #fff;
    text-decoration: underline;
}

.success {
	background: #37d89a;
	padding: 20px;
	color: #fff;
	margin-bottom: 25px;
	border-radius: 5px;
}

.refresh.success {
	padding: 0 10px 0 26px;
	color: #fff;
}

.create-ad-adv .w50 {
	width: 48%;
	float: left;
}

.create-ad-adv .w50:nth-of-type(odd) {
	margin-right: 4%;
}

.upload-btn {
	border: 1px solid #76a7e1;
	text-align: center;
	cursor: pointer;
	    -webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    box-sizing: border-box;
	border-radius: 5px;
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -o-border-radius: 5px;
	    -khtml-border-radius: 5px;
}

.upload-btn:before {
	content: '';
	display: block;
	background: url('../img/sprite.svg') no-repeat 0 -486px;
	width: 16px;
	height: 14px;
	background-size: 200px 620px;
	margin: 10px auto 0 auto;
}

.upload-btn p {
	margin-top: 5px;
	color: #76a7e1;
	font-size: 0.750rem;
	line-height: 1;
}

.upload-btn:hover p {
	color: #438bdf;
}

.upload .del-btn {
	position: absolute;
		-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
	right: 5px;
	top: 5px;
	width: 21px;
	height: 21px;
	text-align: center;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -o-border-radius: 50%;
	    -khtml-border-radius: 50%;
}

.upload .del-btn:after {
	content: '\2716';
	font-family: 'Arial';
	display: block;
	line-height: 20px;
	font-size: 0.688rem;
	color: #6e768f;

}

.upload .del-btn:hover:after {
	color: #76a7e1;
}

.upload-avatar {
	margin-bottom: 30px;
}

.upload-avatar img {
	float: left;
	width: 140px;
	border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
		-khtml-border-radius: 50%;
}

.upload-avatar-info {
	margin-left: 160px;
	padding-top: 30px;
}

.upload-avatar-info .jq-file {
	margin-top: 10px;
}

.upload-avatar-info p {
	font-size: 0.750rem;
	color: #9fa5b8;
	margin: 0 0 5px 0;
}

/*Подвал*/

.footer {
	text-align: right;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer menu {
	display: inline-block;
	vertical-align: top;
	height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

.footer menu li {
	display: inline;
	margin-right: 20px;
}

.social {
	display: inline-block;
	vertical-align: top;
	height: 60px;
}

.social-link {
	display: inline-block;
	margin-top: 17px;
	width: 27px;
	height: 24px;
	padding-top: 3px;
	border-radius: 20px;
	font-size: 18px;
	text-align: center;
}

.social-link:not(:last-of-type) {
	margin-right: 10px;
}

.social-link path {
	fill: #fff;
}

.social-link--vk {
	background-color: #45668e;
}

.social-link--fb {
	background-color: #3b5998;
}

.social-link--insta {
	background-color: #cd486b;
}

.scroll-top {
	width: 70px;
	height: 70px;
	position: fixed;
	color: #fff;
	cursor: pointer;
	line-height: 90px;
	text-align: center;
	right: 20px;
	bottom: 20px;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
	transition:all .2s ease-out;
	background: rgba(79,87,115,.6);
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-khtml-border-radius: 5px;
}

.scroll-top:before {
	content: '';
	display: block;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top: 12px;
	left: 25px;
}

.scroll-top-visible {
	visibility: visible;
	opacity: 1;
}

.scroll-top-footer {
	position: absolute;
	bottom: 80px;
}

.p404 {
	padding-bottom: 56px;
}

.not-found {
	text-align: center;
	padding: 80px 40px 0 40px;
}

.not-found h2 {
	margin: 40px 0 20px 0;
}

.not-found img {
	margin-top: 40px;
	max-width: 100%;
}

/*Fotorama*/

.fotorama--fullscreen, .fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage {
    background: rgba(0,0,0,.5);
}

.fotorama__nav__frame .fotorama__nav__frame--thumb {
	padding: 15px 5px;
}

.input-half-wrapper{
    display: inline-block;
    width: calc(50% - 10px);
}
.input-half-wrapper.left{
    margin-right: 16px;
}

.premium-ad-label {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    margin-right: 16px;
    font-weight: 400;
    color: #fff;
    background: #909ccc;
    padding: 0 10px 0 28px;
    position: relative;
    font-size: .813rem;
    border-radius: 4px;
	float: right;
}

.premium-ad-label:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    background: url(../img/sprite.svg) 0 -281px no-repeat;
    width: 14px;
    height: 13px;
    background-size: 200px 620px;
    margin-top: -6px;
}

#expand_filters {
	position: absolute;
	right: 128px;
	top: 15px;
	cursor: pointer;
}

#expand_filters path {
	transition: fill .2s;
}

#expand_filters:hover path, #expand_filters.active path {
	fill: #76a7e1;
}

/*Адаптив*/

@media (max-width: 1170px) {

	.col-2, .pagination {
		width: 100%;
	}

	.menu.scrolled{
		top: 0;
		position: fixed;
	}

	.col-1 {
		position: absolute;
		margin-top: 0;
		padding: 0;
		left: 0px;
		top: 0;
		overflow-y: auto;
		width: 260px;
		height: 100%;
		background: #5a5f76;
		z-index: 999;
		-webkit-transition: .1s ease-out;
		transition: .1s ease-out;
		-webkit-transform: translateX(-260px);
		-moz-transform: translateX(-260px);
		-o-transform: translateX(-260px);
    	transform: translateX(-260px);
	}

	.col-1.left250 {
			-webkit-transform: translateX(0px);
		    -moz-transform: translateX(0px);
		    -o-transform: translateX(0px);
    	transform: translateX(0px);
	}

	.menu .nav li p {
		border: 0;
		color: #9fa5b8;
	}

	.menu .nav li p span {
		display: none;
	}

	.menu .nav li {
		padding: 0 40px;
		border-radius: 0;
		    -moz-border-radius: 0;
		    -webkit-border-radius: 0;
		    -o-border-radius: 0;
		    -khtml-border-radius: 0;
	}

	.menu .nav .nav-item,
	.menu .nav .nav-item:hover
	{
		border-bottom: 1px solid #52566c;
	}

	.menu .nav li:hover, .menu .nav .nav-item.active {
		background: none;
		margin-top: 0;
		padding-top: 0;
		border-bottom: 0;
	}

	.menu .nav li ul li {
		background: #37d89a;
		margin: 0 -40px;
	}

	.menu .nav li:hover p, .menu .nav .active p {
		border: 0;
		color: #eee;
	}

	.menu .nav li:hover p:after, .menu .nav .active p:after  {
		background: url('../img/sprite.svg') no-repeat 0 -68px;
		width: 8px;
		height: 5px;
		background-size: 200px 620px;
	}

	.menu .nav li .submenu li:last-child a:hover, .menu .nav li .submenu li:last-child a {
		border-radius: 0;
		    -moz-border-radius: 0;
		    -webkit-border-radius: 0;
		    -o-border-radius: 0;
		    -khtml-border-radius: 0;
	}

	.menu .nav li .submenu li a {
		background: #444a62;
		color: #9fa5b8;
	}

	.menu .nav li .submenu li a:hover, .menu .nav li .submenu .active2 a {
		background: #444a62;
		color: #eee;
	}

	.menu .nav li .submenu .active2 a:after {
		content: '';
		display: block;
		width: 2px;
		height: 100%;
		background: #37d89a;
		position: absolute;
		left: 0;
		top: 0;
	}

	.submenu .subcats-count {
		margin-right: 0;
	}

	.menu-title {
		display: none;
	}

	.menu .nav {
		margin: 0;
	}

	.h-wrapper {
		width: auto;
	}

	.h-wrapper menu li{
		margin-right: 20px;
	}

	.h-wrapper menu li:last-child{
		margin-right: 20px;
		padding-right: 20px;
		border-right: 1px solid #565D79;
	}

	.mob-menu-btn {
		display: block;
	}

	.header .row {
		padding-left: 0;
	}

	.header .logo {
		left: 80px;
	}

	.header .logo.logo-404 {
		left: 20px;
	}

	.ajax-load {
		width: 100% !important;
	}

	.premium-bar {
		display: none;
	}
}

@media (max-width: 950px) {

	.brands ul li {
		width: 25%;
	}
}

@media (max-width: 770px) {

	.account-menu ul li {
		float: none;
		text-align: center;
		margin-right: 0;
	}

	.row.middle {
		padding-left: 0;
		padding-right: 0;
	}

	.list h2 {
		font-size: 1.125rem;
	}

	.list-item-price, .list-item-title a {
		font-size: 0.875rem;
	}

    .list-item-price.not-set {
        font-size: 13px;
    }

	.item h1 {
		font-size: 1.5rem;
	}

	.list-text p, .meta {
		font-size: 0.813rem;
	}

	.list-top h2 {
		line-height: 1.4;
	}

	.content {
		padding: 20px 15px 40px 15px;
		margin-top: 0;
		border: 0;
		border-radius: 0;
		    -moz-border-radius: 0;
		    -webkit-border-radius: 0;
		    -o-border-radius: 0;
		    -khtml-border-radius: 0;
	}

	.f-tooltip {
		left: 145px;
	}

	.scroll-top {
		display: none;
	}

	.header .add-button {
		width: 50px;
		font-size: 0;
	}

	.header .add-button:after {
		content: '';
		position: absolute;
		display: block;
		background: url('../img/sprite.svg') no-repeat 0 -158px;
		width: 24px;
		height: 25px;
		background-size: 200px 620px;
		top: 10px;
		left: 14px;
	}

	.list-item img {
		width: 100px;
	}

	.list-text {
		margin-left: 115px;
	}

	.meta {
		padding-left: 115px;
	}

	.brands ul li {
		width: 33.3%;
	}

	.meta .meta-city, .h-wrapper menu {
		display: none;
	}

	.item .slider, .item-comments, .item-desc, .item-related {
		width: 100%;
	}

	.item .slider {
		margin-bottom: 25px;
	}

	.my-ad .my-ad-stat button {
		clear: both;
	}

	.pagination li a, .pagination li span {
		padding: 10px 15px;
	}

	.premium-ad-label {
        height: 18px;
        line-height: 18px;
        font-size: 12px;
	}

	.premium.list-item .list-item-box {
		margin-left: 110px;
	}

    .premium {
      .ad-image-link {
        span {
          top: 58px;
		  left: 60px;
        }
      }
    }
}

@media (max-width: 665px) {

	.my-ad-stat {
		display: none;
	}

	.alt-stat {
		display: inline-block;
	}

	.my-ad-desc .edit {
		font-size: 0;
		padding-left: 15px;
	}

	.edit:after {
		left: 5px;
	}

	.alt-stat p {
		margin-bottom: 0;
		margin-top: 7px;
		font-size: 0.813rem;
		color: #9fa5b8;
	}

	.refresh.alt-stat {
		margin-left: 5px;
		font-size: 0;
		vertical-align: top;
		padding-left: 15px;
	}

	.refresh.alt-stat:after {
		left: 7px;
	}

	.go-premium.alt-stat {
		margin-left: 5px;
		font-size: 0;
		vertical-align: top;
		padding-left: 15px;
	}

	.go-premium.alt-stat:after {
		left: 6px;
	}

	.go-super-premium.alt-stat:after {
		left: 4px;
	}

	.premium-aadd.alt-stat {
		margin-left: 5px;
		font-size: 0;
		vertical-align: top;
		padding-left: 15px;
	}

	.premium-aadd.alt-stat:after {
		left: 6px;
	}

	.pagination li a, .pagination li span {
		padding: 5px 5px;
	}
}

@media (max-width: 520px) {
	.popup.active .popup-wrapper {
		margin: -180px 0 0 -160px;
	}

	.popup .popup-wrapper {
		padding: 35px 20px;
		margin: -100px 0 0 -160px;
	}

	.search-attr .select, .search-attr .select-price {
		width: 100%;
	}

	.width-210 {
		width: 100%;
	}

	.brands {
		display: none;
	}

	.button.btn-sec {
		display: block;
	}

	.meta {
		padding-left: 0;
	}

	.f-tooltip {
		left: 30px;
	}

	.list-item img {
		margin-bottom: 15px;
	}

	.list-item-title a {
		margin: 0;
		width: 100%;
		display: block;
	}

	.list-item-price {
		float: left;
	}

	.search-input #submit {
		font-size: 0;
		padding: 0 35px 0 20px;
	}

	.list-top h2 {
		width: 175px;
		margin: 0 0 10px 0;
	}

	.pagination #n4, .pagination #n8 {
		display: none;
	}

	.pagination #n7 {
		margin-right: 0;
		border-radius: 0 5px 5px 0;
		    -moz-border-radius: 0 5px 5px 0;
		    -webkit-border-radius: 0 5px 5px 0;
		    -o-border-radius: 0 5px 5px 0;
		    -khtml-border-radius: 0 5px 5px 0;
	}

	.form-ad-wrapper {
		width: 290px;
	}

	.my-search.progress-block span {
		display: none;
	}

	.my-search.progress-block .delete {
		margin-left: 20px;
	}

	.upload-avatar {
		text-align: center;
	}

	.upload-avatar img {
		width: 100px;
		float: none;
	}

	.upload-avatar-info {
		margin-left: 0;
		padding-top: 15px;
	}

	.footer menu li {
		margin-right: 10px;
	}

	.input-half-wrapper{
        display: block;
        width: 100%;
        margin-right: 0;
    }

	#expand_filters {
		right: 71px;
	}

	.footer menu, .social {
		display: block;
		text-align: center;
	}

    .ajax-load {
        width: 100% !important;
        margin-bottom: 70px;
    }
}

.bugfixer{
	font-size: 14px;
}

.premium-bar {
	width: 93%;
    margin-top: 46px;

	.list-item-box {
		margin-left: 0 !important;
	}

    img {
      float: none;
      width: 100%;
    }

    .list-text {
      margin: 0;
    }

    .list-item-title {
      margin-top: 10px;

      a {
        float: left;
        margin: 0;
      }
    }

    .list-item-price {
      float: left;
      margin-top: 10px;
      clear: both;
    }

    .meta {
      padding-left: 0;

		.meta-cat {
			display: none;
		}
    }

    .premium {
      .ad-image-link {
        span {
          //top: -24px;
          //left: -6px;
          float: right;
		  border-radius: 4px;
		  margin-top: -25px;
		  position: sticky;
		  margin-right: 7px;
        }
      }
    }

	.discount .ad-image-link span {
		background: #000;
		color: #fff;
		position: absolute;
		left: 0;
		padding: 4px;
		border-radius: 4px;
	}
}

.sticky {
	position: fixed;
    width: 21.5%;
    top: 30px;
    max-width: 310px;
}

.ajax-load {
	display: inline-block;
	text-align: center;
	width: 75.5%;
	float: right;
}

.pagination li {
	display: none !important;
}

//.pagination li:first-child,
//.pagination li:nth-child( 2 ),
//.pagination li:nth-last-child( 2 ),
.pagination li:last-child,
.pagination li.active,
.pagination li.active + li,
.pagination li.previous,
.pagination li.third,
.pagination li.second
//.pagination li.disabled
	{

	display: inline-block !important;
}

.application {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	//.image {
	//	background: url("/img/background.jpg") no-repeat;
	//	height: 100%;
	//	margin-right: -100px;
	//	background-position-x: center;
	//}

	img {
		width: 100%;
		height: 100%;
	}

	h1 {
		color: #fff;
		text-align: center;
		position: absolute;
		width: 100%;
		top: 0;
	}

	.button-download {
		color: #fff;
		bottom: 290px;
		position: absolute;
		width: 52%;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background: #8a8a8a;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		border-radius: 10px;
		font-size: 16px;
	}

	.button-close {
		color: #464646;
		bottom: 230px;
		position: absolute;
		width: 100%;
		height: 44px;
		line-height: 46px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		font-size: 16px;
	}
}

.hidden {
	display: none;
}

.grid {
	.discount {
		.ad-image-link span {
			background: #000000;
			color: #fff;
			position: relative;
			padding: 4px;
			border-radius: 4px;
		}

		.list-item-title a {
			display: none;
		}

		.list-item-box {
			margin-top: -20px;
		}
	}

	@media (max-width: 800px) {
		.list-item.discount {
			width: 48% !important;
		}
	}
}

.list {
	.discount .ad-image-link span {
		background: #000;
		color: #fff;
		position: absolute;
		//top: 10px;
		left: 0;
		padding: 4px;
		border-radius: 4px;
	}
}

.header-tags {
	height: 50px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.header-tags .owl-carousel {
	padding: 0 40px;
	position: relative;
	line-height: 50px;
}
.header-tags .owl-carousel .owl-nav span {
	font-size: 18px;
	color: #808080;
	display: block;
	margin-top: -1px;
}
.header-tags .owl-carousel .owl-prev {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	outline: none;
}
.header-tags .owl-carousel .owl-next {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	outline: none;
}

/**
  * Owl Carousel v2.3.4
  * Copyright 2013-2018 David Deutsch
  * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
  */
.owl-carousel,
.owl-carousel .owl-item {
	-webkit-tap-highlight-color: transparent;
	position: relative;
	background: none!important;
}

.owl-carousel {
	display: none;
	width: 100%;
	z-index: 1;
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	touch-action: manipulation;
	-moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
	display: block;
	width: 100%;
}

.owl-item li {
	padding: 14px 0;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
	display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
	display: grid;
	margin: 0;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
	background: 0 0;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}

.owl-carousel.owl-hidden {
	opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
	visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab;
}

.owl-carousel.owl-rtl {
	direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
	float: right;
}

.owl-carousel .animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
	z-index: 0;
}

.owl-carousel .owl-animated-out {
	z-index: 1;
}

.owl-carousel .fadeOut {
	animation-name: fadeOut;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.owl-height {
	transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
	max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000;
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(/img/owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
}

/**
  * Owl Carousel v2.3.4
  * Copyright 2013-2018 David Deutsch
  * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
  */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
	margin-top: 10px;
}

.owl-theme .owl-nav [class*="owl-"] {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
	background: #869791;
	color: #fff;
	text-decoration: none;
}

.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 0.2s ease;
	border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #869791;
}

.discount-categories {
	margin: -30px 0 20px 0;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
}